# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable spec-finder': 'spec-finder:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'spec-finder'
      'submenu': [
        { 'label': 'Jump', 'command': 'spec-finder:jump' }
      ]
    ]
  }
]
